  <footer class="container">
    <div class="d-flex">
      <div class="foot_row">
        <b>Информация</b>
        <a href="#">О компании</a>
        <a href="#">Новости</a>
        <a href="#">Корпоративным клиентам</a>
        <a href="#">Вакансии</a>
        <a href="#">Политика безопасности</a>
      </div>
      <div class="foot_row">
        <b>Покупателям</b>
        <a href="#">Каталог товара</a>
        <a href="#">Доставка</a>
        <a href="#">Самовывоз</a>
        <a href="#">Оплата заказа</a>
        <a href="#">Техно Бонус</a>
        <a href="#">Акции</a>
      </div>
      <div class="foot_row">
        <b>Поддержка</b>
        <a href="#">Пожаловаться директору</a>
        <a href="#">Гарантия и возвраты</a>
        <a href="#">Карта сайта</a>
      </div>
    </div>
  </footer>
  <section class="container contacts">
    <div class="head_top">
      <div class="phone"><a class="non_dec" href="tel:79495756983">+7 949 575 69 83</a></div>
      <div class="mail"><a class="non_dec" href="mailto:support@gmail.com">support@gmail.com</a></div>
    </div>
  </section>
  <div class="hover_back"></div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{{ theme_url }}/assets/js/bootstrap.bundle.min.js"></script>

<script>

jQuery(function($) {
    $('.nav-item').hover(function(event) {
        if (event.type == 'mouseenter') {
          $('body').addClass(this.id + " big_menu_hovered");
        }
        else {
          $('body').removeClass(this.id + " big_menu_hovered");
        }
    })
});

</script>
</html>
